<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyLogin</servlet-name>
        <servlet-class>controller.MyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>controller.AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>controller.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyLogout</servlet-name>
        <servlet-class>controller.MyLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addgrade</servlet-name>
        <servlet-class>controller.addgrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileController</servlet-name>
        <servlet-class>controller.UploadFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTranscript</servlet-name>
        <servlet-class>controller.CreateTranscript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelStudentsFile</servlet-name>
        <servlet-class>controller.UploadExcelStudentsFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>controller.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>controller.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenCourses</servlet-name>
        <servlet-class>controller.OpenCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMyProfile</servlet-name>
        <servlet-class>controller.EditMyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveUser</servlet-name>
        <servlet-class>controller.ApproveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCourses</servlet-name>
        <servlet-class>controller.RegisterCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProfessorToOpeningCourse</servlet-name>
        <servlet-class>controller.AddProfessorToOpeningCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInstructor</servlet-name>
        <servlet-class>controller.AddInstructor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFaculityAdmin</servlet-name>
        <servlet-class>controller.RegisterFaculityAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFaculty</servlet-name>
        <servlet-class>controller.AddFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMessage</servlet-name>
        <servlet-class>controller.SaveMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>controller.SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rate</servlet-name>
        <servlet-class>controller.Rate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendProblem</servlet-name>
        <servlet-class>controller.SendProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNews</servlet-name>
        <servlet-class>controller.DeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNews</servlet-name>
        <servlet-class>controller.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMaterial</servlet-name>
        <servlet-class>controller.UploadMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadMaterial</servlet-name>
        <servlet-class>controller.DownloadMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFile</servlet-name>
        <servlet-class>controller.DeleteFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProfile</servlet-name>
        <servlet-class>controller.EditUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGuestUser</servlet-name>
        <servlet-class>controller.RegisterGuestUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyLogin</servlet-name>
        <url-pattern>/MyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyLogout</servlet-name>
        <url-pattern>/MyLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addgrade</servlet-name>
        <url-pattern>/addgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileController</servlet-name>
        <url-pattern>/UploadFileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTranscript</servlet-name>
        <url-pattern>/CreateTranscript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelStudentsFile</servlet-name>
        <url-pattern>/UploadExcelStudentsFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenCourses</servlet-name>
        <url-pattern>/OpenCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMyProfile</servlet-name>
        <url-pattern>/EditMyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveUser</servlet-name>
        <url-pattern>/ApproveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCourses</servlet-name>
        <url-pattern>/RegisterCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProfessorToOpeningCourse</servlet-name>
        <url-pattern>/AddProfessorToOpeningCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInstructor</servlet-name>
        <url-pattern>/AddInstructor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFaculityAdmin</servlet-name>
        <url-pattern>/RegisterFaculityAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFaculty</servlet-name>
        <url-pattern>/AddFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMessage</servlet-name>
        <url-pattern>/SaveMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rate</servlet-name>
        <url-pattern>/Rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendProblem</servlet-name>
        <url-pattern>/SendProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNews</servlet-name>
        <url-pattern>/DeleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNews</servlet-name>
        <url-pattern>/AddNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMaterial</servlet-name>
        <url-pattern>/UploadMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadMaterial</servlet-name>
        <url-pattern>/DownloadMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFile</servlet-name>
        <url-pattern>/DeleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProfile</servlet-name>
        <url-pattern>/EditUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGuestUser</servlet-name>
        <url-pattern>/RegisterGuestUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/InvalidRequest.jsp</location>
    </error-page>
</web-app>
